.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232f3e;
    padding: 10px 20px;
    color: white;
}

.navbar-logo a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-search-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.navbar-search-form input {
    width: 100%;
    max-width: 400px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.navbar-search-form button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #febd69;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 10px;
    position: relative;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-user span {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.dropdown-menu a, .dropdown-menu button {
    padding: 10px;
    text-align: left;
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown-menu button:hover, .dropdown-menu a:hover {
    background-color: #f3f3f3;
}

.signin-button {
    background-color: #febd69;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.signin-button:hover {
    background-color: #f3a847;
}
